@import "reset";

.x-phone-cont{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // position: relative;
    // transform: translate(-50%,-50%);
    // top:50%;
    // left: 50%;
    
}

.x-phone{
    width: 200vh;
    height: 200vh;
    margin: 0 auto;

    display: grid;
    grid-gap:5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    transform:translate(-50%,-50%) rotate(45deg) scale(1.2);
    position: relative;
    // transform: translate(-50%,-50%);
    top:50%;
    left:50%;

    img{

        &:nth-child(1){
            // transform: rotate(90deg);
            height: 100vh;
            width: auto;
            justify-self: end;
        }
        
        &:nth-child(2){
            // transform: rotate(90deg);
            width: 100%;
            height: auto;
            align-self: end;
        }

        &:nth-child(3){
            // transform: rotate(90deg);
            width: 100%;
            height: auto;
        }

        &:nth-child(4){
            // transform: rotate(90deg);
            height: 100vh;
            width: auto;
        }

    }

}

.reveal{
    height: 100vh;
    width: 100vw;
    background: firebrick;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
}